@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/* {
    font-family: 'Open Sans', sans-serif;    
} */

body {
    background-color: white;
}

/* .section-padding{
    padding: 100px 0;
} */

.carousel-item {
    height: 100vh;
    min-height: 300px;
}

.carousel-caption {
    bottom: 170px;
    z-index: 2;
}

.carousel-caption h5 {
    font-size: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 25px;
}

.carousel-caption p {
    font-size: 18px;
    margin: auto;
    width: 60%;
}

.carousel-inner::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.navbar a {
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}

.container .navbar-brand {
    color: black;
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 1px;
}

.container .navbar-brand:focus,
.container .navbar-brand:hover {
    color: black;
}

.w-100 {
    min-height: 100vh;
}

.section-padding {
    padding: 50px;
}

.card .card-body i {
    font-size: 50px;
    color: rgb(255, 255, 255, 0.7);

}

.card-text {
    color: rgba(250, 235, 215, 0.3);
}

.card .socials i {
    font-size: 30px;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 0.4s;
}

.contact {
    background: #3C3B3F;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #605C3C, #3C3B3F);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #605C3C, #3C3B3F);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


/* Responsive CSS */

@media only screen and (min-width:765px) and(max-width:991) {
    .navbar {
        text-align: center;
    }

    .carousel-caption {
        bottom: 300px;
    }

    .carousel-caption h5 {
        font-size: 37px;
        margin-top: 40px;
    }

    .carousel-caption p {
        font-size: 13px;
        margin: auto;
        width: 50%;
    }

    .section-padding {
        padding: 30px 0px;
    }

}

@media only screen and (max-width:765px) {
    .navbar {
        text-align: center;
    }

    .carousel-caption {
        bottom: 150px;
    }

    .carousel-caption h5 {
        font-size: 30px;
        margin-top: 14px;
    }

    .carousel-caption p {
        font-size: 13px;
        margin: auto;
        width: 100%;
    }


}



@media only screen and (max-width:380px) {
    .navbar {
        text-align: center;
    }

    .carousel-caption {
        bottom: 150px;
    }

    .carousel-caption h5 {
        font-size: 25px;
        margin-top: 14px;
    }

    .carousel-caption p {
        font-size: 10px;
        margin: auto;
        width: 100%;
    }

    .section-padding {
        padding: 15px;
    }


}